@model IEnumerable<WebAppDapper.Models.User>
@{
    ViewData["Title"] = "Список пользователей";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-controller="Home" asp-action="Create">Добавить</a>
</p>
<table class="table">
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                @item.Age
            </td>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
